body{background-color:#343334;font-family:Arial, Helvetica, sans-serif;font-weight:400;}
div{border:0 none;display:block;margin:0;padding:0;}
form{border:0 none;margin:0;padding:0;}
p,ul,ol{color:#999;}
a img {border: 0px;}
fieldset{border:0 none;}
.header{background:transparent;float:none;height:50px;margin:0;padding:0;}
#head_nav{background:#acacac url(../img/nav-bg-25px.png) repeat;height:50px;border:2px solid #000000;}
#head_nav ul{border:0;clear:left;list-style-type:none;margin:0;padding:0;text-align:center;}
#head_nav ul li{display:block;float:left;margin:0;padding:0;text-align:center;}
#head_nav ul li a{display:block;height:38px;margin:0;padding: 12px 12px 0;width:auto;color:#fff; text-decoration:none;}
#head_nav ul li a.nav:hover{text-decoration:underline; background:url(../img/nav-bg-25px-green.png) 0 -50px;}
.header #search{position:absolute;right:5%;top:5px;}
.header #search fieldset{width:220px;}
.header #search form{position:relative;}
.header #search #search_header{background:transparent url(../img/search.png) no-repeat scroll 0 0;border:0 none;font-size:90%;font-style:normal;font-variant:normal;font-weight:700;height:40px;line-height:100%;margin:10px 0;padding:0;position:absolute;right:5%;top:0;width:200px;}
.header #search #search_input{border:0 none;line-height:90%;margin:5px 15px;padding:0;width:164px; background:transparent none no-repeat scroll 0 0;color:#fff; font-size: 14pt;}
.left_column{background:#030303 url(../img/lc-bg-1.png) no-repeat scroll center top;border:2px solid #000;color:#999;float:left;margin-top:10px;max-width:240px;padding-left:10px;clear:left;}
h3{color:#9A5E2C;}
.main{background:#030303 url(../img/main-bg.png) repeat-x scroll 0 0;border:3px solid #000;color:#ccc;margin:13px 0 0 265px;min-width:800px;padding-left:10px;}
.main h1{color:#65407A;margin:0;padding:5px 0 0;}
.footer{background:transparent url(../img/footer-bg.png) repeat-x scroll 0 0;clear:both;float:left;height:50px;margin:10px 0 0;width:100%;}
.footer p {background:transparent url(../img/footer-p-bg.png) no-repeat scroll 0 0;border:4px solid #000000;margin:-4px 0 0;padding:8px 0 12px 400px;}
.blackborder{border:2px solid #000;}
.legend_null,.noscreen {display:none;}
.packet_header {border: solid 1px #000000; padding: 0 2px;font-size:10pt; text-align:left;}
.top-row  td {border: solid 1px #000000; padding: 0 2px; font-size:10pt;}
.second_row  td {border: solid 1px #000000; padding: 0 2px; font-size:8pt;}
.payload {font-size:8pt;}
.line_num {}
.hex {}
.plain_text {}