###################################
## Poller Config File            ##
## See documentation for details ##
###################################

# URL for inventory checkin
URL = http://localhost/avarice_nms_svn/modules/inventory/checkin.php

# Method for XML transfer
XML_Method = file

# XML Directory
XML_Dir = \\in2079.et.local\c$\wamp\www\avarice_nms_svn\modules\invertory\xml