###################################
## Poller Config File            ##
## See documentation for details ##
###################################

# URL for inventory checkin
http_path = http://localhost/avarice_nms_svn/modules/inventory/checkin.php

# Method for XML transfer
method = http

# XML Directory
filesystem_path = \\in2079.et.local\c$\wamp\www\avarice_nms_svn\modules\invertory\xml